input {
  border: none;
}

#content {
  font-family: 'Montserrat', sans-serif;
}

p {
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Questrial', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  opacity: .8;
}

figcaption {
  font-size: 12px;
}

h1 {
  font-family: 'Questrial', sans-serif;
  font-size: 14px;
}

h2 {
  font-family: 'Questrial', sans-serif;
  font-size: 30px;
}